:root {
  --black: #121213;
  --gray: #37373d;
  --white: azure;
}

body {
  background-color: #121213;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body.light {
  background-color: var(--white);
}

#header.dark {
  color: var(--white);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#header.light {
  color: var(--black);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.letter {
  width: 100px;
  height: 100px;
  background-color: var(--black);
  border: 3px solid var(--gray);
  margin: 5px;
  font-size: 30px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: var(--white);
}

.letter.light {
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border: 3px solid var(--gray);
  margin: 5px;
  font-size: 30px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: var(--black);
}

.letter:hover {
  transform: scale(1.1);
}

.word {
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game {
  width: 100%;
}

.animate__animated.animate__flipInX {
  --animate-duration: 0.5s;
}

#theme {
  position: relative;
  width: 400px;
  height: auto;
  color: azure;
  padding-left: 50px;
  padding-right: 50px;
  right: -350px;
}

.change {
  position: absolute;
  top: 95;
  width: 400px;
  height: auto;
  color: var(--white);
  padding-left: 50px;
  padding-bottom: 15px;
  right: 45px;
}

.change.light {
  position: absolute;
  top: 95;
  right: 0;
  width: 400px;
  height: auto;
  color: var(--black);
  padding-left: 50px;
}

a {
  color: var(--animate-duration);
}

/* Keyboard */

#keyboard-cont div {
  display: flex;
  justify-content: center;
}

.second-row {
  margin: 10px;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
}

.keyboard-button.light {
  all: unset;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--gray);
  border-radius: 5px;
}

.keyboard-button:active {
  background-color: #757778;
}

@media only screen and (max-width: 480px) {
  .word {
    margin: auto;
  }
  .keyboard-cont {
    margin: auto;
    position: absolute;
  }

  .keyboard-button {
    padding: 0.65rem;
  }

  .letter {
    width: 40px;
    height: 40px;
    background-color: var(--black);
    border: 3px solid var(--gray);
    margin: 2.5px;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: var(--white);
  }

  .letter.light {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border: 3px solid var(--gray);
    margin: 2.5px;
    font-size: 20px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: var(--black);
  }

  h1 {
    font-size: 30;
  }

  #theme {
    /* font-size: 10; */
    left: 200px;
  }

  #change {
    left: -20px;
  }
}

@media only screen and (max-width: 385px) {
  .keyboard-button {
    padding: 0.45rem;
  }
}

@media only screen and (max-width: 330px) {
  .keyboard-button {
    padding: 0.35rem;
  }
}

@media only screen and (max-width: 300px) {
  .keyboard-button {
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 270px) {
  .keyboard-button {
    padding: 0.15rem;
  }
}

@media only screen and (max-height: 790px) {
  .char {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    margin: 3px;
  }
}

@media only screen and (max-height: 670px) {
  .char {
    width: 40px;
    height: 40px;
    border: 2px solid #3a3a3c;
    margin: 3px;
  }
}

@media only screen and (max-height: 650px) {
  .char {
    width: 35px;
    height: 35px;
    border: 2px solid #3a3a3c;
    margin: 3px;
  }
}

@media only screen and (max-height: 610px) {
  .char {
    width: 30px;
    height: 30px;
    border: 2px solid #3a3a3c;
    margin: 3px;
  }
}

@media only screen and (max-height: 485px) {
  .char {
    width: 20px;
    height: 20px;
    border: 2px solid #3a3a3c;
    margin: 3px;
  }
}
